<!DOCTYPE html>
<html>

<head>
    <title>Backend Challenges | Free Code Camp</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
        type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1>API Basejump: URL Shortener Microservice</h1>
        <div class="user-stories">
            <h3>User stories:</h3>
            <ul>
                <li>
                    <p>
                        I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
                    </p>
                </li>
                <li>
                    <p>
                        If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error
                        instead.
                    </p>
                </li>
                <li>
                    <p>
                        When I visit that shortened URL, it will redirect me to my original link.
                    </p>
                </li>
            </ul>
        </div>

        <h2>
            Example creation usage:
        </h2>
        <code>
            https://little-url.herokuapp.com/new/https://www.google.com
        </code>
        <br>
        <h2>
            Example creation output:
        </h2>
        <code>
            { "original_url":"https://little-url.herokuapp.com/new/https://www.google.com", "short_url":"https://little-url.herokuapp.com/2871" }
        </code>
        <br>
        <h2>
            Usage:
        </h2>
        <code>
            https://little-url.herokuapp.com/2871
        </code>
        <br>
        <h2>
            Will redirect to:
        </h2>
        <code>
            https://www.google.com/
        </code>
        <br>
    </div>
</body>

</html>